<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"><!-- 让浏览器以utf-8来解析当前网页-->
	<meta name="keywords" content="李润全个人网站博客">
	<meta name="description" content="李润全个人网站,记录思考、学习、工作与生活。www.skyroom.club">
	<title>李润全的个人网站</title><!-- 网页标题-->
	<style>
		
	</style>
</head>
<body>
	<h1>主页</h1>
	<div id='id-div-blogMain'>博客文章</div>	
	<div id='id-div-blogNew'>
		<label>
            博文标题
            <input id='id-input-title' type="text" value="22">
        </label>
        <br>
        <label>
            博文作者
            <input id='id-input-author' type="text" value="">
        </label>
        <br>
        <label>
            博文内容
            <textarea id='id-input-content' type="text" value=""></textarea>
        </label>
        <br>
        <label>
            主人密码
            <input id='id-input-keyword' type="text" value="">
        </label>
        <br>
        <button id='id-button-submit'>发表新博文</button>
	</div>
		
</body>
<script src='JS/blogMain.js'></script>
</html>