<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>李润全的网络日志</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">
    <link href="css/cssrule.css" rel="stylesheet">
    <link rel="icon" href="img/R.png" type="image/x-icon">
    <style>
      .hidden {
        display: none;
      }
      #comment-content {
        height: 130px;
      }
      #id-div-inscribe {
        background-color: #72b9c7;
        border-radius: 11px;
        padding: 10px;
        margin-top: 46px;
        font-size: 16px;
        font-weight: lighter; 
      }
      .blogmoreKiller {
        position: fixed;
        right: 6%;
        top: 71%;
        box-shadow: 2px 2px 5px 1px #88C;
      }
      .comment-list {
        font-size: 15px;
      }
      #comment-time {
        margin: 23px 0;
      }
      #id-h2-blogmore {
  	    font-size: 20px;
	    font-weight: 300;
      }
    </style>

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="index.html">Runquan Li's Blog</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">首页</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">关于我</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">✒</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="id-div-bloglist">
      <!-- Page Header -->
      <header class="masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                <h1>Skyroom</h1>
                <span class="subheading">终身成长者的天空</span>
              </div>
            </div>
          </div>
        </div> 
      </header>

      <!-- Bloglist Begin -->
      <div class="bloglist">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-8 mx-auto" id="id-div-blogMain">
              <!-- 博客列表容器 -->
            </div>
          </div>
          
        </div>
      </div>
    </div>
      <!-- Bloglist End -->

      <!-- Blogmore Begin -->
      <div class="blogmore  hidden">
        <div id="id-div-blogmore">
          
        </div>

        <div class="container" id="id-div-commentcontrol">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="clearfix" >
              <a class="btn btn-primary float-right  blogmoreKiller" href="JavaScript: void(0)">回到首页</a>
            </div>
            <div id="id-div-commentadder">

                <div id="id-div-commentcontainer">
                    <h4>留言：</h4>
                   <hr style="border-color: #64696f;">
                </div>

                <h4 id='id-comment-addplace'>我要发表看法：</h4>
                <hr style="border-color: #64696f;">
                <div class="input">
                  <span id="basic-addon1">您的评论：&nbsp;</span><br>
                  <textarea type="text" class="form-control comment-content" id="comment-content" placeholder="此处输入你的评论<支持部分HTML>..."></textarea>
                </div>
                <div class="input">
                  <span id="basic-addon1">您的大名：&nbsp;</span><br>
                  <input type="text" class="form-control comment-author" placeholder="此处输入你的名字..." >
                </div>

                <p>
                  <button type="button" class="btn btn-primary comment-add">发表</button>
                </p>

            </div>
          </div>
          </div>
        </div>
      </div>

    </div>
    <!-- Blogmore End -->
    

    <!-- Footer -->
    <footer>
      <hr>
      <p class="copyright text-muted">Copyright &copy; Skyroom 2019</p>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>
    <script src="JS/myblogMain.js"></script>


  </body>

</html>
